body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #2b2a2a;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  .pantalla {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(255, 60, 0);
    
  }
  
  .cuadro {
  flex: 1;
    min-height: 150px;
    background-color: #d1cbcb;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
  }
  
  /* Pantallas HD hasta 1366px */
  @media screen and (max-width: 1366px) {
    .pantalla {
      background-color: rgb(51, 36, 139);
      display: flex;
      flex-wrap: wrap;
    }
  
    .cuadro {
      flex: 1 1 30%;
    }
  }
  
  /* Tablets hasta 1024px */
  @media screen and (max-width: 1024px) {
    .pantalla {
      background-color: rgb(217, 255, 0);
      flex-direction: column;
      align-items: center;
    }
  
    .cuadro {
      width: 80%;
    }
  }
  
  /* Teléfonos hasta 767px */
  @media screen and (max-width: 767px) {
    .pantalla {
      background-color: rgb(255, 0, 128);
    }
  
    .cuadro {
      width: 85%;
    }
  }


.texto {
  color: rgb(14, 12, 12);
}